{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/ico" href="{% static 'files/images/favicon.ico' %}" />
  <title>Star Dental Clinic Set-up, Made Easy!</title>
  <!-- common -->
  <link href="{% static 'frontpage/css/style.css' %}" rel="stylesheet" type="text/css" />

 </head>
<body>

  <div class="pre-loader"></div><!-- pre-loader -->    
  
