{% extends "base.html" %}
{% block content %}
{% load static %}
{% include 'receptionist/common/header.html' %}

<div class="doctor-list">

 <div class="row page-head">
  <div class="col-md-4 col-sm-4 col-xs-12">
   <h1>Patient list</h1><button type="button" onclick="window.location.href = '/home_test/addpatient/' ">Add New Patient</button>
  </div>
  
  <div class="col-md-8 col-sm-8 col-xs-12">
   	<!-- search -->
    <form class="search">
	  <i class="fa fa-search" aria-hidden="true"></i>
      <input type="search" class="filter" data-table="table" placeholder="search..." maxlength="100" />
    </form>

  </div> 
 </div>

 
<!-- details table -->
 <div class="row">
  <div class="col-md-12 table-responsive">
  <div class="common-table">
   <table class="table my-pagination">
    <thead>
	 <tr class="tr-head">
	  <th>Sl.No</th>
	  <th>Name</th>
	  <th>Serial No</th>
	  <th>email</th>
	  <th>phone</th>
	  <th>address</th>
	  <th>sex</th>
	  <th>age</th>
	 </tr>
	</thead>

	<tbody>
	{% if patients %}
	{% for pat in patients %}
	<tr class="tr-body">
	  <td>{{forloop.counter}}</td>
	  <td>{{pat.name}}</td>
	  <td>{{pat.id}}</td>
	  <td>{{pat.email}}</td>
	  <td>{{pat.phone}}</td>
	  <td>{{pat.address}}</td>
	  <td>{{pat.sex}}</td>
	  <td>{{pat.age}}</td>
	 </tr>
	{% endfor %}
	{% else %}
     <tr class="no-data">
      <td colspan="20">No Data</td>
     </tr>
     {% endif %}
	</tbody>

	<tfoot></tfoot>
   </table>
   </div>
 </div>
</div>
<!-- /details table -->


</div><!-- doctor-list -->

{% endblock %}