{% extends "base.html" %}
{% block content %}
{% load static %}
{% include 'patient/common/header.html' %}


<div class="change-password">

 <div class="row page-head">
  <div class="col-md-4 col-sm-4 col-xs-12">
   <h1>change password</h1>
  </div>

 </div>

<div class="row">
  <div class="col-md-12">
   <div class="page-form">
   
    <div class="page-col">
	 <label>Username</label>
	 <input type="text" name="username" maxlength="100" />
	</div>
	<div class="page-col">
	 <label>password</label>
	 <input type="password" name="password" maxlength="100" />
	</div>

	<div class="footer">
	 <button type="submit">Update</button>
	</div>
	
   </div>
  </div> 
</div>
 

</div><!-- change-password -->

{% endblock %}